@import "variables.scss";
@import "mixins.scss";

.details{
    background-color: $background;
    font-size: $myFont;
    $myColor: green;
    color: $myColor;
    @include important-content();
}

.container-header{
    background-color: $background;
    font-size: $myFont;
    color: $myColor;
    @include important-content(20px);
}
.button-base{
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.button-report{
    background-color: red;
    @extend .button-base
}

nav{
    ul{
        li{
            a{
                font-size: 30px;
            }
        }
    }
}